body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  padding: 3rem 4rem;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
  border: 2px solid var(--light-purple);
  background-color: var(--main-bg);
  color: var(--font);
}

section h1 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  justify-content: space-between;
}

section p {
  margin-bottom: 1.5rem;
}

section a {
  text-decoration: none;
  width: 20%;
  padding: .5rem 1rem;
  border: 2px solid var(--light-purple);
  color: var(--light-purple);
  transition: all .3s ease-in-out ;
  background: transparent;
}

section a:hover {
  cursor: pointer;
  color: var(--font);
  background: var(--accent);
  box-shadow: 0 0 .5rem var(--light-purple);
}
