*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background2.jpg);
  overflow-x: hidden;
}
  
main {
  display: flex;
  align-items: center;
  margin-block: 4rem;
  padding: 4rem;
}

/*------------------------------------------------------------------------------------*/
/* Colors */
:root {
  /* COLOR PALETTE */
  --accent: linear-gradient(90deg, rgb(42, 0, 121) 0%, rgb(99, 42, 190) 100%);
  --dark-purple: rgb(42, 0, 121);
  --light-purple: rgb(99, 42, 190);
  --font: #EEE;
  --main-bg: #2D2D30;
  --secundary-bg: #1E1E1E;
  /* DETAILS */
  --details: #464646;
}

/* Portada del libro */
figure img {
  width: 420px;
  height: 660px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.7);
}

/* Titulo y escritor */
main header:not(.info-container header) {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  gap: 1rem;
}

main header h1 {
  font-size: 5rem;
  color: var(--font);
}

main header h2 {
  font-size: 2rem;
  color: var(--font);
}

.stars { font-size: 3rem; }

.stars > .calification {
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

.stars > *:not(.calification) {
  color: gray;
  opacity: .3;
}

main section {
  margin-inline: 2rem;
  width: 100%;
}

.info-container {
  background: var(--accent);
  width: 100%;
  overflow: hidden;
}

.info-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--font);
}

.info-container header:hover {
  cursor: pointer;
}

.info-container header p {
  transition: all .3s ease-in-out;
  padding: 1rem 2rem;
}

.info-container .container {
  display: flex;
  transition: all .5s ease-in-out;
  color: var(--font);
  width: 200%;
}

.sinopsis, .more-info {
  display: flex;
  overflow: hidden;
  font-size: 1.2rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--secundary-bg);
  margin: 3px;
  transition: all .3s ease-in-out;
}

/* Sinopsis */
.sinopsis p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* Demas datos */
.more-info {
  font-size: 1rem;
  flex-direction: row;
  justify-content: space-around;
}

.more-info > div {
  display: flex;
  flex-direction: column;
}

.more-info > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-info h3 { margin-right: .5rem; }

/* Acciones */
.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.actions div {
  padding: .5rem 1rem;
  background: var(--accent);
  color: var(--font);
  width: 20rem;
}

.actions .rateBookButton {
  background: transparent;
  border: 1px solid var(--light-purple);
  color: var(--light-purple);
}

.actions div:hover { cursor: pointer; }

/* Reviews */
.reviews { padding: 4rem; }

.reviews header {
  width: 100%;
  display: flex; 
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--light-purple);
  gap: 1rem;
}

.reviews header h1 {
  font-size: 3rem;
  color: var(--font);
}

.reviews header div {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.reviews header button {
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}

.reviews form {
  padding: 1rem;
  border: 2px solid var(--dark-purple);
  border-radius: 1rem;
  background-color: var(--dark-purple);
  display: none;
  flex-direction: column;
  transition: all .3s ease-in-out;
}

.reviews form textarea {
  width: 100%;
  height: 17.5rem;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}

.reviews form button {
  width: 100%;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}

/* Comentarios */
.comments, .user-comment { margin: 2.5rem 1rem; }

.main-comment, .answer, .user-answer, .user-comment {
  padding: 1rem;
  background-color: var(--secundary-bg);
  border: 2px solid var(--light-purple);
  color: var(--font);
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: .5rem;
}

.main-comment, .user-comment { margin-right: 5rem; }

.answer, .user-answer { margin-left: 5rem; }

.main-comment header, .answer header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-comment header h1, .answer header h1, .user-answer header h1, .user-comment header h1 {
  font-size: 2rem;
  margin-left: 1rem;
}

.main-comment header button, .answer header button { padding: .5rem 1rem; }

.main-comment .mensaje, .answer .mensaje {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* FORMULARIO DE COMENTARIO - RESPUESTA */
.user-answer, .user-comment {
  display: none;
  flex-direction: column;
  opacity: 0;
  transform: translateX(100%);
  transition: all .3s ease-in-out;
}

.user-answer .mensaje form, .user-comment .mensaje form {
  display: flex;
  background-color: transparent;
  border: none;
}

.user-answer form textarea, .user-comment form textarea {
  width: 100%;
  height: 17.5rem;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}

/* FECHA Y HORA DEL COMENTARIO */
.date {
  color: darkgray;
  font-size: 1rem;
  margin: .5rem;
  text-align: end;
  align-items: center;
}

/* BOTON BORRAR COMENTARIO */
.answer header form, .main-comment header form {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.empty {
  margin: 2rem;
  color: var(--font);
}

/* VOLVER A INICIO */
.back {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  color: gray;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: all .3s ease-in-out;
}

.back:hover {
  color: var(--font);
}

/* FORMULARIO VALORACION DE LIBRO */
.rate-book:not(.actions .rate-book) {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.closeButton {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  color: var(--dark-purple);
  transition: all .3s ease-in-out;
}

.closeButton:hover {
  cursor: pointer;
  color: var(--light-purple);
}

#rateBookForm {
  width: 50rem;
  background-color: var(--secundary-bg);
  padding: 2rem;
  border: 2px solid var(--light-purple);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 .5rem var(--light-purple);
  transform: scale(0);
  transition: all .3s ease-in-out;
}

#rateBookForm h1 { color: var(--font); }

#rateBookForm .input-container:not(.stars-container .input-container) {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--light-purple);
}

#rateBookForm .input-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#rateBookForm i:not(.stars-container span i) {
  text-align: center;
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: var(--font);
}

#rateBookForm input, #rateBookForm select, #rateBookForm textarea {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: var(--font);
}

#rateBookForm textarea {
  height: 17.5rem;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}
  
#rateBookForm button {
  width: 20%;
  padding: .5rem 1rem;
  border: 1px solid var(--light-purple);
  background-color: transparent;
  color: var(--light-purple);
  transition: all .3s ease-in-out;
}

#rateBookForm button:hover {
  background: var(--accent);
  color: var(--font);
}

.stars-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.stars-container input {
  display: none;
}

.stars-container label {
  font-size: 3rem;
  padding-inline: 1rem;
  float: right;
  color: gray;
  opacity: .3;
  transition: all .3s ease-in-out;
}

.stars-container input:not(:checked) ~ label:hover,
.stars-container input:not(:checked) ~ label:hover ~ label {
  opacity: 1;
  color: #FFD700;
}

.stars-container input:checked ~ label {
  opacity: 1;
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

/* ESTILOS JS */
.input_error{ border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden { display: none; }