*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background.jpg);
  margin: 4rem;
}
  
main {
  display: flex;
  margin-block: 4rem;
}

/* Portada del libro */
figure {
  width: 30%;
}

figure img {
  width: 100%;
}

/* Titulo y escritor */
main header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

main header h1 { font-size: 5rem; }

main header h2 { font-size: 2rem; }

.stars { font-size: 4rem; }

.stars > .calification {
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

.stars > *:not(.calification) {
  color: gray;
  opacity: .3;
}

main section {
  width: 70%;
  margin-inline: 2rem;
}

/* Contenedor central */
.middle-container {
  display: flex;
  border: 2px solid gray;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #ffffff50;
  font-size: 1.4rem;
}

/* Sinopsis */
.sinopsis {
  padding: 2rem;
  width: 75%;
  height: 100%;
}

.sinopsis p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* Demas datos */
.more-info {
  padding: 1rem;
  width: 25%;
  border-left: 2px solid gray;
}

.more-info > div {
  display: flex;
  align-items: center;
}

.more-info h3 {
  margin-right: .5rem;
}

/* Acciones */
.actions {
  margin-top: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions a {
  text-decoration: none;
  padding: .5rem 1rem;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  transition: ease-in-out .25s;
}

/* ---------------------------------------- */
#opinar{
  grid-area: 2 / 3 / 3 / 4;
  background-color: antiquewhite;
  padding: 20px;
  border: 1px solid antiquewhite;
  border-radius: 15px;
}

input{
  height: 40px;
  width: 140px;
  background-color: orange;
  border-radius: 10px;
  font-size: 20px;
}