*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background.jpg);
  margin: 5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: .7fr 1.3fr; 
}

/* Portada del libro */
figure {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  border: 1px solid orange;
  border-radius: 15px;
}

figure img {
  width: 100%;
  height: 100%;
  border: 1px solid orange;
  border-radius: 15px;
}

/* Titulo y escritor */
section {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

section h1 {
  font-size: 6rem;
}

section h2 {
  font-size: 2rem;
}

.stars {
  font-size: 4rem;
}

.stars > .calification {
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

.stars > *:not(.calification) {
  color: gray;
  opacity: .3;
}
/* Sinopsis */
.sinopsis {
  grid-area: 2 / 2 / 3 / 3;
  background-color: yellow;
  border: 1px soli yellow;
  border-radius: 15px;
}

/* Demas datos */
.div5 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: orange;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 15px;
}
.nota > .calification {
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

.nota > *:not(.calification) {
  color: gray;
  opacity: .3;
}

#opinar{
  grid-area: 3 / 1 / 4/ 4;
  background-color: antiquewhite;
  padding: 20px;
  border: 1px solid antiquewhite;
  border-radius: 15px;

}

input{
  height: 40px;
  width: 140px;
  background-color: orange;
  border-radius: 10px;
  font-size: 20px;
}
