/* MENU STICKY */
.sticky-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  width: 100%;
  background: var(--accent);
  box-shadow: 0 0 1rem #00000075;
  z-index: 6;
}

.sticky-menu > * {
  text-decoration: none;
  color: var(--font);
  transition: all .3s ease-in-out;
  padding: 1rem 2rem;
}

.sticky-menu > * i {
  margin-right: .5rem;
}

.sticky-menu > *:hover {
  cursor: pointer;
  scale: 1.2;
  text-decoration: underline;
}

/* HEADER */
header {
  background-color: var(--secundary-bg);
  padding: 1.5rem 2rem;
  border-bottom: 2px solid var(--light-purple);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* LOGO */
header figure:not(header nav figure) {
  margin-bottom: 1rem;
  display: none;
}

header nav figure {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header figure img {
  width: 100%;
  filter: invert(100%);
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

header button {
  font-size: 2rem;
  background: transparent;
  border: none;
  transition: all .3s ease-in-out;
}

header button i:not(.search-bar button i) { color: var(--font); }
/* FOTO DE PERFIL - FOTO */
.profile-pic {
  display: flex;
  justify-content: end;
  width: 10%;
}

.profile-pic a {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-position: center;
}

/* MAIN */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main section {
  --grid-layout-gap: 4rem;
  --grid-column-count: 3;
  --grid-item--min-width: 500px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  margin: 4rem 6rem;
}

/* GRUPOS */
.class-container,
.new-class-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid var(--light-purple);
  background-color: var(--main-bg);
  color: var(--font);
  overflow: hidden;
}

.new-class-container { padding-block: 3rem; }

.class-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.class-container .class-info {
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
}

.class-container a:not(#new-group) {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

#new-group, .class-container a {
  color: var(--light-purple);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  border: 2px solid var(--light-purple);
  border-radius: 1rem;
  transition: all .3s ease-in-out;
}

#new-group:hover,
.class-container a:hover {
  transform: scale(1.2);
  box-shadow: 0 0 1rem var(--light-purple);
  color: var(--font);
  background: var(--accent);
}

.class-container a i,
#new-group i {
  padding: .5rem;
}

#new-group:hover { cursor: pointer; }

/* ASIDE */
.profile a {
  color: var(--font);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.profile a i {
  width: 2rem;
  text-align: center;
  margin-right: .5rem;
}

.profile {
  width: 100%;
  color: var(--font);
  background-color: var(--secundary-bg);
  position: absolute;
  z-index: 7;
  padding: 2rem;
  border-bottom: 2px solid var(--light-purple);
  box-shadow: .5rem .5rem 1rem #00000050;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 1rem;
  transition: all .3s ease-in-out;
  display: none;
  font-size: 1.5rem;
  right: 0;
  transform: translateX(100%);
  top: 0;
}

.profile > * {
  background: none;
  border: none;
  color: var(--font);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.profile .close-profile {
  width: 100%;
  font-size: 1rem;
  justify-content: center;
}

.profile .profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.profile figure {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-profile {
  width: 100%;
  font-size: 1rem;
  justify-content: center;
}

/* FORMULARIO */
.new-group {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000dd;
  transition: all .3s ease-in-out;
  z-index: 10;
  padding: 2rem 4rem;
  align-items: center;
}

.closeButton {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  color: var(--font);
  transition: all .3s ease-in-out;
}

.closeButton:hover {
  cursor: pointer;
  color: var(--light-purple);
}

#newGroupForm {
  width: 50rem;
  background-color: var(--secundary-bg);
  padding: 2rem;
  border: 2px solid var(--light-purple);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 .5rem var(--light-purple);
  transform: scale(0);
  transition: all .3s ease-in-out;
}

#newGroupForm h1 { color: var(--font); }

#newGroupForm .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--light-purple);
}

#newGroupForm .input-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#newGroupForm i {
  text-align: center;
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: var(--font);
}

#newGroupForm input,
#newGroupForm select {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: var(--font);
}
  
#newGroupForm button {
  width: 20%;
  padding: .5rem 1rem;
  border: 1px solid var(--light-purple);
  background-color: transparent;
  color: var(--light-purple);
  transition: all .3s ease-in-out;
}

#newGroupForm button:hover {
  background: var(--accent);
  color: var(--font);
}

/* ESTILOS JS */
.input_error{ border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden, .close-profile, .close-filters { display: none; }

/* ----------------------------------------------------------------------- */
/* TABLET */
@media screen and (max-width: 1280px) {
  main section { margin: 4rem 4rem; }

  .profile {
    padding: 1rem;
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  .close-profile {
    display: flex;
    color: var(--font);
  }

} 

/* INTERMEDIO */
@media screen and (max-width: 940px) {
  .sticky-menu, .profile-pic { display: none; }

  #profile { display: flex; }

  main section { margin: 4rem 3rem; }

  header nav figure { width: 30%; }

  .closeButton {
    font-size: 2rem;
    margin: 1rem;
  }

  #newGroupForm { width: 100%; }

  #newGroupForm button { width: 100%; }
}

/* MOVIL */
@media screen and (max-width: 600px) {
  header figure:not(header nav figure) {display: flex; }

  header nav figure { display: none; }

  main section { margin: 4rem 2rem; }

  header { padding: 1.5rem 1rem; }

  header figure { width: 50%; }

  header section { gap: 1rem; }

  .profile { font-size: 1rem; }

  .new-group { padding: 4rem 1rem; }

  .new-group h1 { font-size: 1.5rem; }
}