div:not(.horizontal-bar) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  width: fit-content;
  background-color: var(--main-bg);
  padding: 3rem 4rem;
  border:2px solid var(--light-purple);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--light-purple);
  color:var( --font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  justify-content: space-between;
  color: var( --font);
}

section a { color: var( --font); }

form {
  display: flex;
  gap: .3rem;
}

select, button { font-size: 1rem; }

button {
  border: none;
  text-decoration: underline;
  background: transparent;
  color: var( --font);
}

button:hover { cursor: pointer; }

.horizontal-bar {
  width: 120%;
  height: 3px;
  background-color: var(--light-purple);
  margin-block: 1rem;
}

/* ----------------------------------------------------------------------- */
/* TABLET */
@media screen and (max-width: 1280px) {

} 

/* INTERMEDIO */
@media screen and (max-width: 940px) {

}

/* MOVIL */
@media screen and (max-width: 600px) {
  div:not(.horizontal-bar) {
    margin: 2rem;
  }

  section {
    width: 100%;
    padding: 2rem;
  }

  .horizontal-bar { width: 100%; }
}