body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  background-color:   var(--main-bg);
  padding: 3rem 4rem;
  border:2px solid var(--light-purple);
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
  color:var( --font);
}

section h1 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  justify-content: space-between;
  color: var( --font);
}

section a { color: var( --font); }

form {
  display: flex;
  gap: .3rem;
}

select, button { font-size: 1rem; }

button {
  border: none;
  text-decoration: underline;
  background: transparent;
  color: var( --font);
}

button:hover { cursor: pointer; }

.horizontal-bar {
  width: 100%;
  height: 3px;
  background-color: var(--light-purple);
  margin-block: .5rem;
}
