*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background.jpg);
}

form {
  width: 35rem;
  background-color: lightgray;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
}

.input-container {
  width: 100%;
  margin-block: 1rem;
  display: flex;
  background-color: gray;
}

i {
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: #eee;
}

input {
  width: 100%;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: #eee;
}

input:focus { border: 1px solid gray; }

button {
  padding: .5rem 1rem;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  transition: ease-in-out .25s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 .5rem #00000050;
}
