* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background2.jpg);
  overflow-x: hidden;
}

/*------------------------------------------------------------------------------------*/
/* Colors */
:root {
  /* COLOR PALETTE */
  --accent: linear-gradient(90deg, rgb(42, 0, 121) 0%, rgb(99, 42, 190) 100%);
  --dark-purple: rgb(42, 0, 121);
  --light-purple: rgb(99, 42, 190);
  --font: #EEE;
  --main-bg: #2D2D30;
  --secundary-bg: #1E1E1E;
  /* DETAILS */
  --details: #464646;
}

/* MENU STICKY */
.sticky-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  width: 100%;
  background: var(--accent);
  box-shadow: 0 0 1rem #00000075;
  z-index: 6;
}

.sticky-menu > * {
  text-decoration: none;
  color: var(--font);
  transition: all .3s ease-in-out;
  padding: 1rem 2rem;
}

.sticky-menu > * i {
  margin-right: .5rem;
}

.sticky-menu > *:hover {
  cursor: pointer;
  scale: 1.2;
  text-decoration: underline;
}

/* HEADER */
header{
  background-color: var(--secundary-bg);
  padding: 1.5rem 2rem;
  border-bottom: 2px solid var(--light-purple);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* LOGO */
header figure {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header figure img {
  width: 100%;
  filter: invert(100%);
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

header button {
  font-size: 2rem;
  background: transparent;
  border: none;
  transition: all .3s ease-in-out;
}

header button i:not(.search-bar button i) { color: var(--font); }

/* BARRA DE BUSQUEDA */
.search-container {
  width: 90%;
  display: flex;
  justify-content: end;
}

.search-bar {
  background-color: var(--font);
  width: 20rem;
  padding-inline: 2rem;
  border: 3px solid var(--light-purple);
  border-radius: 2rem;
  box-shadow: .5rem .5rem 1rem #00000050;
  overflow: hidden;
  transition: all .3s ease-in-out;
  float: right;
}

.search-bar form {
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  background-color: var(--font);
  outline: none;
  border: none;
  font-size: 1rem;
  padding-block: 1rem;
  width: 100%;
}

.search-bar button {
  padding-inline: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: gray;
  transition: all .3s ease-in-out;
}

.search-bar button:hover{
  transform: scale(1.2);
  color: black;
}

/* BUSQUEDA */
.search-view {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
  color: var(--font);
  gap: .5rem;
}

/* FOTO DE PERFIL - FOTO */
.profile-pic {
  display: flex;
  justify-content: end;
}

.profile-pic a {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-position: center;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main > h1 {
  margin-block: 10rem;
}

main section {
  --grid-layout-gap: 4rem;
  --grid-column-count: 5;
  --grid-item--min-width: 250px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  margin: 4rem 6rem;
}

.book-container {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out;
  background-color: lightgray;
}

.book-container img {
  width: 100%;
  transition: all .6s ease-in-out;
}

.book-overlay {
  position: absolute;
  background: #000000bf;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(-100%);
  padding-inline: .5rem;
  transition: all .3s ease-in-out;
}

.book-info {
  font-size: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #EEE;
  font-size: 1rem;
}

.book-info .stars {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.stars > .calification {
  color: #FFD700;
  text-shadow: 0 0 .5rem #FFD700;
}

.stars > *:not(.calification) {
  color: gray;
  opacity: .3;
}

.book-info a {
  padding: .5rem 1rem;
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
}

/* ASIDES */
.filters, .profile {
  width: 15%;
  color: var(--font);
  background-color: var(--secundary-bg);
  position: absolute;
  z-index: 7;
  padding: 2rem;
  border-bottom: 2px solid var(--light-purple);
  box-shadow: .5rem .5rem 1rem #00000050;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 1rem;
  transition: all .3s ease-in-out;
  display: none;
  font-size: 1.5rem;
  right: 0;
  border-left: 2px solid var(--light-purple);
  border-bottom-left-radius: 1rem;
  transform: translateX(100%);
  top: 0;
}

/* PERFIL DE USUARIO */
.profile a, .profile span {
  color: var(--font);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.profile span:hover {
  cursor: pointer;
}

.profile a i, .profile span i{
  width: 2rem;
  text-align: center;
  margin-right: .5rem;
}

.profile .profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.profile figure {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FILTERS */
.filters h2 {
  font-size: 1.5rem;
  color: var(--font);
}

.filters form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters select {
  font-size: 1rem;
}

.filters button:not(.close-filters) {
  font-size: 1rem;
  text-decoration: none;
  padding: .5rem 1rem;
  border: 1px solid var(--light-purple);
  background-color: var(--secundary-bg);
  color: var(--font);
  transition: all .3s ease-in-out;
}

.close-profile, .close-filters {
  font-size: 1rem;
  justify-content: center;
}

/* FORMULARIO */
.new-book {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.closeButton {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  color: gray;
  transition: all .3s ease-in-out;
}

.closeButton:hover {
  cursor: pointer;
  color: white;
}

#newBookForm {
  width: 50rem;
  background-color: lightgray;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: .5rem .5rem 1rem #00000075;
  transform: scale(0);
  transition: all .3s ease-in-out;
}

#newBookForm .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: gray;
}

#newBookForm .input-container div, .alternative {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alternative {
  gap: 1rem;
  opacity: 0;
  transform: translateX(100%);
  transition: all .3s ease-in-out;
}

.alternative-button {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: black;
  border: none;
  background-color: transparent;
  text-shadow: .5rem .5rem 1rem #00000050;
}

.alternative-button:hover {
  cursor: pointer;
}

#newBookForm i:not(.alternative-button i) {
  text-align: center;
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: #eee;
}

#newBookForm input, #newBookForm select, #newBookForm textarea {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: #eee;
}

#newBookForm textarea {
  height: 17.5rem;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}
  
#newBookForm button {
  width: 20%;
  padding: .5rem 1rem;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  transition: ease-in-out .25s;
}

#newBookForm button:hover:not(.alternative-button) {
  cursor: pointer;
  box-shadow: 0 0 .5rem #00000050;
}

/* ESTILOS JS */
.input_error{ border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden, .close-profile, .close-filters { display: none; }

/* FOOTER */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: lightgrey;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
  font-size: 10px;

}


.heart {
  color: #2f2f2f;

}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

/* ----------------------------------------------------------------------- */

/* TABLET */
@media screen and (max-width: 1280px) {
  main section {
    margin: 4rem 4rem;
  }

  .filters, .profile {
    padding: 1rem;
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  .close-profile, .close-filters {
    display: flex;
  }
} 

/* INTERMEDIO */
@media screen and (max-width: 940px) {
  main section {
    margin: 4rem 3rem;
  }

  header figure {
    width: 30%;
  }

  .search-bar {
    width: 10rem;
  }
}

/* MOVIL */
@media screen and (max-width: 600px) {
  main section {
    grid-template-columns: repeat(1, 1fr);
    margin: 4rem 2rem;
  }

  header {
    padding: 1.5rem 1rem;
  }

  header figure {
    width: 50%;
  }

  header section {
    gap: 1rem;
  }

  .search-bar {
    padding-inline: 1rem;
  }

  .filters, .profile {
    font-size: 1rem;
  }

}
