* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background.jpg);
}

header{
    width: 100%;
    position: sticky;
    background-color: lightgray;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 1rem #00000050;
    gap: 3rem;
}

/* LOGO */
.logo {

}

/* BARRA DE BUSQUEDA */
.search-bar {
  width: 100%;
  background-color: white;
  border: 3px solid gray;
  box-shadow: .5rem .5rem 1rem #00000050;
  overflow: hidden;
  justify-content: space-between;
}

.search-bar input{
  background: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  padding-block:  1rem;
}

.search-bar button {
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  background: transparent;
  outline: none;
  border: none;
}