* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/img/background.jpg);
  overflow-x: hidden;
}

/* HEADER */
header{
  width: 100%;
  background-color: lightgray;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid gray;
  box-shadow: 0 0 1rem #00000050;
}

/* Cabecera del header */
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
header figure {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all .3s ease-in-out;
}

header figure img {
  width: 100%;
}

/* CONTROLES */
nav {
  position: sticky;
  display: flex;
}

nav > * {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin-inline: 1.5rem;
}

nav > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* MAIN */
main {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

main section {
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
}

/* Aceptar nuevos profesores, comentarios y respuestas, administradores */
.accept-teachers,
.accept-comments,
.accept-answers {
  display: flex;
  justify-content: center;
}

.accept-teachers table,
.accept-comments table,
.accept-answers table,
.admins table {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

.accept-teachers th, .accept-teachers td,
.accept-comments th, .accept-comments td,
.accept-answers th, .accept-answers td,
.admins th, .admins td {
  padding-inline: 2rem;
  padding-bottom: 1rem;
}

.accept-teachers .actions,
.accept-comments .actions,
.accept-answers .actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.accept-teachers .actions button,
.accept-comments .actions button,
.accept-answers .actions button,
.admins button {
  padding: .5rem;
  color: black;
}

/* Aceptar nuevos libros */
.accept-books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4rem 6rem;
}

.accept-books > h1 {
  grid-area: 1 / 1 / 2 / 6;
  text-align: center;
}

.book-container {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out;
  background-color: lightgray;
}

.book-container img {
  width: 100%;
  transition: all .6s ease-in-out;
}

.book-overlay {
  position: absolute;
  background: #000000bf;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(-100%);
  padding-inline: .5rem;
  transition: all .3s ease-in-out;
}

.book-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #EEE;
  gap: .5rem;
}

.book-info .actions {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.book-info .actions button {
  padding: .5rem;
}

.book-info a {
  padding: .5rem 1rem;
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
}

/* Administradores */
.admins {
  display: flex;
  justify-content: flex-start;
}

.admins .actions form {
  border: none;
  box-shadow: none;
  background-color: none;
  width: auto;
  padding: 0;
  margin: 0;
}

.admins .actions form button {
  padding: .5rem;
  color: black;
}

form {
  width: 35rem;
  background-color: lightgray;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: gray;
}

.input-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

i:not(.actions i) {
  text-align: center;
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: #eee;
}

input, select, .pass-info {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.admins button {
  padding: .5rem 1rem;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  transition: ease-in-out .25s;
}

.admins button:hover {
  cursor: pointer;
  box-shadow: 0 0 .5rem #00000050;
}

.input_error{ border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden { display: none; }

/* ESTILOS JS */
.hidden { display: none; }