* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../src/img/background.jpg);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header {
    width: 100%;
    background-color: lightgray;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 1rem #00000050;
}

/* LOGO */
header figure {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all .3s ease-in-out;
}

header figure img {
    width: 100%;
}

header button {
    font-size: 2rem;
    background: transparent;
    border: none;
    transition: all .3s ease-in-out;
}

main {
    display: flex;
    flex-direction: row;
}

/* PERFIL DE USUARIO */
.profile {
  background-color: lightgray;
  position: absolute;
  z-index: 3;
  padding: 2rem;
  border-bottom: 2px solid gray;
  box-shadow: .5rem .5rem 1rem #00000050;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 1rem;
  display: none;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  border-left: 2px solid gray;
  border-bottom-left-radius: 1rem;
  transform: translateX(100%);
  transition: all .3s ease-in-out;
}

.profile a {
  color: gray;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.profile a i{
  width: 2rem;
  text-align: center;
  margin-right: .5rem;
}

/* FORMULARIO */
form {
  width: 50rem;
  background-color: lightgray;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: gray;
}

.input-container div, .alternative {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alternative {
  gap: 1rem;
  transition: all .3s ease-in-out;
}

.alternative-button {
  width: 100%;
  font-size: 1rem;
  color: black;
  border: none;
  background-color: transparent;
  text-shadow: .5rem .5rem 1rem #00000050;
}

form i:not(.alternative-button i) {
  text-align: center;
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: #eee;
}

input, select, textarea {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: #eee;
}

textarea {
  height: 17.5rem;
  font-size: 1rem;
  padding: .75rem;
  resize: none;
  outline: none;
}

form button {
  width: 20%;
  padding: .5rem 1rem;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  transition: ease-in-out .25s;
}

form button:hover:not(.alternative-button) {
  cursor: pointer;
  box-shadow: 0 0 .5rem #00000050;
}

/* ESTILOS JS */
.input_error{ border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden { display: none; }