.general-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  width: 35rem;
  background-color:   var(--main-bg);
  border:2px solid var(--light-purple);
  color:var( --font);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: .5rem .5rem 1rem #00000050;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--light-purple);
}

.input-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

i {
  width: 3rem;
  padding-block: 1rem;
  font-size: 1rem;
  color: #eee;
}

input, select {
  width: 100%;
  height: 3rem;
  padding-inline: .5rem;
  outline: none;
  border: none;
  background-color: #eee;
  color: black;
}

.input-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-checkbox input {
  width: auto;
  margin-right: .5rem;
}

button {
  width: 25%;
  padding: .5rem 1rem;
  border: 1px solid gray;
  background: transparent;
  border: 2px solid var(--light-purple);
  color: var(--light-purple);
  transition:all .3s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: var(--font);
  background: var(--accent);
  box-shadow: 0 0 .5rem var(--light-purple);
}

.input_error { border-right: 4px solid #E00A35; }

.error {
  width: 100%;
  background-color: #E00A35;
  color: #EEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-inline: 1rem;
  border-radius: .375rem;
  font-size: .8rem;
}

.error p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.error i {
  width: auto;
  padding-right: .5rem;
}

.hidden { display: none; }

/* ----------------------------------------------------------------------- */
/* TABLET */
@media screen and (max-width: 1280px) {

} 

/* INTERMEDIO */
@media screen and (max-width: 940px) {

}

/* MOVIL */
@media screen and (max-width: 600px) {
  .general-container {
    padding: 4rem 1rem;
    overflow-y: auto;
    justify-content: flex-start;
  }

  form {
    width: 100%;
  }

  form h1 { font-size: 1.5rem;}

  form button { width: 100%; }
}